body {
    background: #112F41;
    font-family: 'Cuprum', sans-serif;
}

section {
    margin: 0 auto;
    width: 800px;
    padding: 8px;
    background: #fff;
    border-radius: 7px;

}

article {
    width: 100%
    margin-bottom: 4px;
}

h1 {
    color: #ED553B;
    font-size: 22pt;
    text-align: center;
}

h2 {
    color: #F2B134;
    font-size: 17pt;
}

footer {
    text-align: center;
    color: #fff;
    margin-top: 4px;
}

footer a {
    color: #fff;
}